<% const {header, footer} = blocks %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>node管理系统</title>
    <%- stylesheets %>
    <%- scripts %>
</head>
<body>
<div id="app">
    <header>
        <%- header %>
    </header>
    <section>
        <%- body %>
    </section>
    <footer>
        <%- footer %>
    </footer>
</div>
</body>
</html>
